@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/rubik/Rubik-Medium.eot');
  src: url('../fonts/rubik/Rubik-Medium.otf') format('otf'), 
    url('../fonts/rubik/Rubik-Medium.woff') format('woff'), 
    url('../fonts/rubik/Rubik-Medium.ttf') format('truetype'), 
    url('../fonts/rubik/Rubik-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}