#slider-252 .wd-slide {
	min-height: 460px;
}

@media (max-width: 1024px) {
	#slider-252 .wd-slide {
		min-height: 460px;
	}
}

@media (max-width: 767px) {
	#slider-252 .wd-slide {
		min-height: 460px;
	}
}
